In [89]:
import FinanceDataReader as fdr
import OpenDartReader
import pandas as pd
import numpy as np

In [95]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
import pandas as pd

# 크롬 드라이버 자동 업데이트
from webdriver_manager.chrome import ChromeDriverManager # webdriver_manager 처음 실행할 때는 다운받느라 조금 시간이 걸릴 수 있음

# 브라우저 꺼짐 방지
options = Options()
options.add_experimental_option('detach', True)

# 불필요한 에러 메시지 없애기
options.add_experimental_option('excludeSwitches', ['enable-logging'])

service = Service(executable_path=ChromeDriverManager().install())

In [16]:
print(df_krx.shape)
df_krx.describe()

(2713, 17)

,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks
count,2713.000000,2713.000000,2713.000000,2713.000000,2713.000000,2.713000e+03,2.713000e+03,2.713000e+03,2.713000e+03
mean,1.042757,-0.015164,20811.848876,21223.115002,20489.098784,7.358012e+05,6.945203e+09,8.790617e+11,4.223172e+07
std,1022.812701,3.566181,54315.710113,55258.017337,53666.270519,4.133493e+06,3.402745e+10,8.491921e+12,1.361888e+08
min,-11500.000000,-32.770000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,1.071024e+09,1.098520e+05
25%,-70.000000,-1.130000,2770.000000,2840.000000,2725.000000,1.609400e+04,1.055550e+08,6.150000e+10,1.000000e+07
50%,0.000000,0.000000,6730.000000,6920.000000,6640.000000,6.979700e+04,4.262604e+08,1.240909e+11,1.954779e+07
75%,60.000000,0.790000,16750.000000,16990.000000,16280.000000,2.531420e+05,2.436353e+09,2.936355e+11,4.123263e+07
max,22000.000000,30.000000,771000.000000,799000.000000,771000.000000,1.048886e+08,8.583582e+11,3.886328e+14,5.969783e+09

In [4]:
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,65100,2,-300,-0.46,65600,65700,64700,9791064,637046767248,388632844005000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,564000,2,-3000,-0.53,563000,571000,560000,244181,137592002000,131976000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,88700,2,-1100,-1.22,88900,89600,87500,1794303,158558052768,64573809775500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,797000,1,22000,2.84,771000,799000,771000,144462,114475902000,56725678000000,71174000,STK
4,051910,KR7051910008,LG화학,KOSPI,,731000,1,5000,0.69,727000,735000,724000,149664,109184505000,51603002733000,70592343,STK

In [25]:
stock_price = df_krx.loc[df_krx['Market'].isin(['KOSPI', 'KOSDAQ'])]
stock_price_copy = stock_price

In [26]:
stock_price_copy = stock_price_copy.loc[~stock_price_copy['Name'].str.contains('스팩')]
stock_price_copy = stock_price_copy.loc[~stock_price_copy['Name'].str.endswith(('우', '우B', '스팩'))]
stock_price_copy

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,65100,2,-300,-0.46,65600,65700,64700,9791064,637046767248,388632844005000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,564000,2,-3000,-0.53,563000,571000,560000,244181,137592002000,131976000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,88700,2,-1100,-1.22,88900,89600,87500,1794303,158558052768,64573809775500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,797000,1,22000,2.84,771000,799000,771000,144462,114475902000,56725678000000,71174000,STK
4,051910,KR7051910008,LG화학,KOSPI,,731000,1,5000,0.69,727000,735000,724000,149664,109184505000,51603002733000,70592343,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,058220,KR7058220005,아리온,KOSDAQ,투자주의환기종목(소속부없음),275,0,0,0.00,0,0,0,0,0,10717917100,38974244,KSQ
2636,121890,KR7121890008,에스디시스템,KOSDAQ,관리종목(소속부없음),739,0,0,0.00,0,0,0,0,0,9375042680,12686120,KSQ
2643,078650,KR7078650009,지나인제약,KOSDAQ,관리종목(소속부없음),2120,0,0,0.00,0,0,0,0,0,8647007240,4078777,KSQ
2667,08537M,KR708537K039,루트로닉3우C,KOSDAQ,우량기업부,38150,1,150,0.39,38050,38250,37300,177,6740850,6637222550,173977,KSQ
2710,050540,KR7050540004,엠피씨플러스,KOSDAQ,투자주의환기종목(소속부없음),359,2,-175,-32.77,498,498,350,3296607,1289977939,2322043233,6468087,KSQ

In [27]:
cb = stock_price_copy.loc[stock_price_copy['Name'].str.contains('전환')]
cb

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
646,00104K,KR700104K010,CJ4우(전환),KOSPI,,73800,2,-700,-0.94,74000,74400,73500,3164,233400700,311916585600,4226512,STK
1100,00279K,KR700279K010,아모레G3우(전환),KOSPI,,23600,2,-400,-1.67,24000,24000,22900,17632,414759400,167375920000,7092200,STK
2131,37550L,KR737550K029,DL이앤씨2우(전환),KOSPI,,25300,1,100,0.40,25200,25550,25100,1596,40360100,53432360300,2111951,STK

In [28]:
stock_price_copy = stock_price_copy.loc[~stock_price_copy['Name'].str.contains('전환')]
stock_price_copy

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,65100,2,-300,-0.46,65600,65700,64700,9791064,637046767248,388632844005000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,564000,2,-3000,-0.53,563000,571000,560000,244181,137592002000,131976000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,88700,2,-1100,-1.22,88900,89600,87500,1794303,158558052768,64573809775500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,797000,1,22000,2.84,771000,799000,771000,144462,114475902000,56725678000000,71174000,STK
4,051910,KR7051910008,LG화학,KOSPI,,731000,1,5000,0.69,727000,735000,724000,149664,109184505000,51603002733000,70592343,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,058220,KR7058220005,아리온,KOSDAQ,투자주의환기종목(소속부없음),275,0,0,0.00,0,0,0,0,0,10717917100,38974244,KSQ
2636,121890,KR7121890008,에스디시스템,KOSDAQ,관리종목(소속부없음),739,0,0,0.00,0,0,0,0,0,9375042680,12686120,KSQ
2643,078650,KR7078650009,지나인제약,KOSDAQ,관리종목(소속부없음),2120,0,0,0.00,0,0,0,0,0,8647007240,4078777,KSQ
2667,08537M,KR708537K039,루트로닉3우C,KOSDAQ,우량기업부,38150,1,150,0.39,38050,38250,37300,177,6740850,6637222550,173977,KSQ
2710,050540,KR7050540004,엠피씨플러스,KOSDAQ,투자주의환기종목(소속부없음),359,2,-175,-32.77,498,498,350,3296607,1289977939,2322043233,6468087,KSQ

In [29]:
stock_price_copy['Name'].value_counts

<bound method IndexOpsMixin.value_counts of 0           삼성전자
1       LG에너지솔루션
2         SK하이닉스
3       삼성바이오로직스
4           LG화학
          ...
2604         아리온
2636      에스디시스템
2643       지나인제약
2667     루트로닉3우C
2710      엠피씨플러스
Name: Name, Length: 2339, dtype: object>

In [30]:
stock_name_list = stock_price_copy['Name'].tolist()

['삼성전자',
 'LG에너지솔루션',
 'SK하이닉스',
 '삼성바이오로직스',
 'LG화학',
 '삼성SDI',
 '현대차',
 '기아',
 'NAVER',
 'POSCO홀딩스',
 '포스코퓨처엠',
 '카카오',
 '셀트리온',
 '현대모비스',
 '삼성물산',
 'KB금융',
 '에코프로',
 'LG전자',
 '신한지주',
 'SK이노베이션',
 'LG',
 '삼성생명',
 '하나금융지주',
 '한국전력',
 '하이브',
 'SK',
 'KT&G',
 '카카오뱅크',
 '삼성화재',
 'SK텔레콤',
 '삼성전기',
 '두산에너빌리티',
 '고려아연',
 'HMM',
 '크래프톤',
 'HD현대중공업',
 '메리츠금융지주',
 '삼성에스디에스',
 'LG생활건강',
 '엔씨소프트',
 '우리금융지주',
 '대한항공',
 'S-Oil',
 '기업은행',
 'KT',
 '한화솔루션',
 '카카오페이',
 '롯데케미칼',
 '아모레퍼시픽',
 'SK바이오사이언스',
 '현대글로비스',
 'LG이노텍',
 'SK아이이테크놀로지',
 'SK스퀘어',
 'HD한국조선해양',
 '넷마블',
 '오리온',
 'SK바이오팜',
 'DB손해보험',
 'F&F',
 '삼성엔지니어링',
 '코스모신소재',
 '한화에어로스페이스',
 'LG디스플레이',
 '두산밥캣',
 '한국항공우주',
 '맥쿼리인프라',
 '한온시스템',
 '포스코인터내셔널',
 'LG유플러스',
 '현대제철',
 '삼성중공업',
 'CJ제일제당',
 'HD현대',
 '현대건설',
 '유한양행',
 'HLB',
 '한국타이어앤테크놀로지',
 '한미약품',
 '미래에셋증권',
 '강원랜드',
 '금호석유',
 'SKC',
 '현대로템',
 'GS',
 '코웨이',
 '금양',
 '삼성카드',
 '현대오토에버',
 '현대해상',
 '호텔신라',
 'BGF리테일',
 '셀트리온제약',
 '씨에스윈드',
 '삼성증권',
 'NH투자증권',
 '한미사이언스',
 '한국금융지주',
 '쌍용C&E',
 'LS',
 '롯데지주',
 '오스템임플란트',
 'OCI',
 '현대미포조선',
 'GS리테일',
 '롯데에너지머티리얼즈',
 'DB하이텍',
 '한진칼',
 '팬오션',
 '아모레G',
 '이마트',
 '대우조선해양',
 '한화시스템',
 'CJ',
 '에스엠',
 '한전기술',
 '한솔케미칼',
 '한국가스공사',
 '농심',
 'KG모빌리티',
 '키움증권',
 '에스디바이오센서',
 '롯데쇼핑',
 '동원산업',
 '케어젠',
 '휠라홀딩스',
 '에스원',
 '제일기획',
 'BNK금융지주',
 'HD현대인프라코어',
 '한화생명',
 '한미반도체',
 'HL만도',
 '신세계',
 '스튜디오드래곤',
 '한화',
 '코스모화학',
 '영원무역',
 '동서',
 'KCC',
 '두산퓨얼셀',
 '레인보우로보틱스',
 'LS ELECTRIC',
 '효성첨단소재',
 '바이오니아',
 'HD현대일렉트릭',
 '대한전선',
 '오뚜기',
 'HPSP',
 'CJ대한통운',
 '카나리아바이오',
 'LIG넥스원',
 '위메이드',
 '메디톡스',
 '효성티앤씨',
 'GS건설',
 'LX세미콘',
 '덴티움',
 '솔브레인',
 '대우건설',
 '성일하이텍',
 'JB금융지주',
 '롯데정밀화학',
 '한전KPS',
 '나노신소재',
 '하이트진로',
 '더블유씨피',
 '현대위아',
 '두산',
 '동진쎄미켐',
 '삼천당제약',
 '녹십자',
 '현대엘리베이',
 '대주전자재료',
 '에스엘',
 '파라다이스',
 '효성',
 '솔루스첨단소재',
 '롯데칠성',
 'HD현대건설기계',
 'DL이앤씨',
 '솔루엠',
 '넥슨게임즈',
 '대웅제약',
 '금호타이어',
 '씨젠',
 '후성',
 'SK케미칼',
 '동원시스템즈',
 '와이지엔터테인먼트',
 'SK가스',
 '풍산',
 '한국앤컴퍼니',
 '현대백화점',
 'LX인터내셔널',
 '한올바이오파마',
 '코오롱인더',
 'GKL',
 'DGB금융지주',
 '이수화학',
 '아이에스동서',
 '엔켐',
 'HLB생명과학',
 '동국제강',
 'SK네트웍스',
 '윤성에프앤씨',
 '일진하이솔루스',
 '종근당',
 '제주항공',
 '코리안리',
 '에이비엘바이오',
 '한샘',
 '삼아알미늄',
 '에스앤에스텍',
 '영풍',
 '대덕전자',
 '오리온홀딩스',
 '에코프로에이치엔',
 '네오위즈',
 'SK오션플랜트',
 'DL',
 '레이크머티리얼즈',
 '파크시스템스',
 'SK리츠',
 '더존비즈온',
 '롯데웰푸드',
 'TCC스틸',
 '동화기업',
 '디어유',
 'NHN',
 '율촌화학',
 '신풍제약',
 '롯데렌탈',
 '아시아나항공',
 'PI첨단소재',
 'KG스틸',
 '포스코엠텍',
 'TKG휴켐스',
 '명신산업',
 '현대바이오',
 '대한유화',
 '영원무역홀딩스',
 '삼양식품',
 '한국콜마',
 '컴투스',
 '아프리카TV',
 '하나투어',
 '롯데리츠',
 '제이오',
 '세아베스틸지주',
 '애경케미칼',
 '심텍',
 '대웅',
 '더블유게임즈',
 'SFA반도체',
 '제이알글로벌리츠',
 '코스맥스',
 '한일시멘트',
 'F&F홀딩스',
 '오스코텍',
 '다우기술',
 '에스티큐브',
 '진에어',
 '넥센타이어',
 '미원상사',
 '롯데관광개발',
 '이노션',
 'ESR켄달스퀘어리츠',
 'HDC현대산업개발',
 '해성디에스',
 '씨아이에스',
 '태광산업',
 '미래나노텍',
 '효성중공업',
 '세방전지',
 '비에이치',
 '녹십자홀딩스',
 '하이드로리튬',
 '케이엠더블유',
 'DN오토모티브',
 '차바이오텍',
 '루트로닉',
 '코오롱티슈진',
 '보로노이',
 '자화전자',
 'SNT모티브',
 'CJ CGV',
 '케이카',
 '엘앤씨바이오',
 '지씨셀',
 '신세계인터내셔날',
 '루닛',
 'KCC글라스',
 'NICE평가정보',
 '미원에스씨',
 '메지온',
 '성우하이텍',
 'ISC',
 '커넥트웨이브',
 '엠로',
 '이엔플러스',
 '대신증권',
 '대상',
 'SBS',
 '네이처셀',
 '한세실업',
 '우리종금',
 '제이시스메디칼',
 'LX홀딩스',
 '데브시스터즈',
 'SPC삼립',
 '신라젠',
 '에스피지',
 '드림텍',
 '대한해운',
 '바텍',
 '경동나비엔',
 '바이오노트',
 '인텔리안테크',
 '한국단자',
 '박셀바이오',
 'SK디스커버리',
 '동원F&B',
 '세아제강지주',
 '안랩',
 '한섬',
 '동양생명',
 '삼양홀딩스',
 '제주은행',
 '다우데이타',
 '어반리튬',
 '티웨이항공',
 '서진시스템',
 '보령',
 '강원에너지',
 '삼천리',
 'RFHIC',
 '원텍',
 '이수페타시스',
 '애경산업',
 '쏘카',
 '한화투자증권',
 '현대홈쇼핑',
 '프레스티지바이오파마',
 '부광약품',
 '엠씨넥스',
 '쿠쿠홈시스',
 '파미셀',
 '젬백스',
 '아난티',
 '현대무벡스',
 '영진약품',
 'HSD엔진',
 '쿠쿠홀딩스',
 'JW중외제약',
 '티와이홀딩스',
 '일동제약',
 '나노팀',
 '스마트솔루션즈',
 '지누스',
 '새로닉스',
 'DI동일',
 '동일산업',
 '유안타증권',
 '동아쏘시오홀딩스',
 '신영증권',
 '서울가스',
 'KG ETS',
 '레이',
 '대보마그네틱',
 'KG케미칼',
 '두산테스나',
 '디와이피엔에프',
 '한화손해보험',
 '제넥신',
 'LF',
 '하나기술',
 '지엔원에너지',
 '디오',
 'SK디앤디',
 '위메이드맥스',
 'NICE',
 '코미팜',
 '미래에셋생명',
 '상아프론테크',
 '동아에스티',
 '한국카본',
 '엔케이맥스',
 '지아이이노베이션',
 '태광',
 '탑머티리얼',
 '인터로조',
 '화신',
 '고려제강',
 '화승엔터프라이즈',
 '다원시스',
 '롯데손해보험',
 '모트렉스',
 '진원생명과학',
 '골드앤에스',
 '코난테크놀로지',
 '코람코에너지리츠',
 '메드팩토',
 '에프에스티',
 '제이앤티씨',
 '엠아이텍',
 'HD현대에너지솔루션',
 '서부T&D',
 '콘텐트리중앙',
 '이엠텍',
 '아이센스',
 '세아홀딩스',
 '네패스',
 '현대그린푸드',
 '삼화콘덴서',
 'KH바텍',
 'KB스타리츠',
 '이아이디',
 '큐렉소',
 '새빗켐',
 '에어부산',
 '셀바스AI',
 '빙그레',
 '유니드',
 'SGC에너지',
 '대성홀딩스',
 'SIMPAC',
 '남해화학',
 '롯데정보통신',
 '신한알파리츠',
 'HLB제약',
 '삼양사',
 '세아제강',
 '신성이엔지',
 '로보티즈',
 '더네이쳐홀딩스',
 '한미글로벌',
 '원익피앤이',
 '아세아시멘트',
 '넵튠',
 '송원산업',
 '에코앤드림',
 'BGF',
 '이브이첨단소재',
 '티이엠씨',
 '서연이화',
 '쎌마테라퓨틱스',
 '코웰패션',
 '씨앤씨인터내셔널',
 '인바디',
 '삼성FN리츠',
 '국도화학',
 '슈어소프트테크',
 '자이언트스텝',
 'HDC',
 '조선내화',
 '대명에너지',
 '비나텍',
 '티앤엘',
 '케이씨텍',
 '인선이엔티',
 '코오롱생명과학',
 '한국정보통신',
 '코오롱플라스틱',
 '비츠로셀',
 '클리오',
 '풀무원',
 '동국산업',
 '삼표시멘트',
 'TYM',
 '이녹스',
 '맵스리얼티1',
 '툴젠',
 '휴스틸',
 '풍산홀딩스',
 '유나이티드제약',
 '바이오플러스',
 '조일알미늄',
 '한국자산신탁',
 '아미코젠',
 '유티아이',
 '원준',
 '헬릭스미스',
 '세진중공업',
 '파인엠텍',
 'DB',
 '휴마시스',
 '신흥에스이씨',
 '제테마',
 '코엔텍',
 '웅진씽크빅',
 '남양유업',
 '일성신약',
 'LX하우시스',
 '오픈엣지테크놀로지',
 'SK렌터카',
 'HL홀딩스',
 'YG PLUS',
 '한글과컴퓨터',
 '월덱스',
 '에이스침대',
 '덕산테코피아',
 '큐브엔터',
 'HLB테라퓨틱스',
 '뉴로메카',
 '현대퓨처넷',
 '성광벤드',
 '한일홀딩스',
 '영풍제지',
 '에이프로젠',
 '신도리코',
 '비올',
 '켐트로닉스',
 '엑세스바이오',
 '효성화학',
 '스카이라이프',
 '한화리츠',
 '테라사이언스',
 'CJ프레시웨이',
 '이연제약',
 '우리기술투자',
 '한국기업평가',
 '한국토지신탁',
 '선익시스템',
 '신대양제지',
 '일양약품',
 '원익머트리얼즈',
 'KISCO홀딩스',
 '대한제강',
 'E1',
 '서흥',
 '동성화인텍',
 '퍼시스',
 'LB세미콘',
 '톱텍',
 '대원제약',
 '한일현대시멘트',
 '조광피혁',
 '아이마켓코리아',
 'KG이니시스',
 '농심홀딩스',
 '잇츠한불',
 '코리아써키트',
 '쎄트렉아이',
 'KEC',
 '알루코',
 '에치에프알',
 '교보증권',
 '방림',
 '바이넥스',
 'BGF에코머티리얼즈',
 '휴림로봇',
 '세방',
 '로보스타',
 '한화갤러리아',
 '네오이뮨텍',
 '쏠리드',
 'LG헬로비전',
 '노바텍',
 'SK증권',
 '모두투어',
 '엘브이엠씨홀딩스',
 '뷰웍스',
 '에스엠벡셀',
 '지역난방공사',
 '아세아',
 '동원개발',
 '하림',
 '흥아해운',
 '이리츠코크렙',
 '삼진제약',
 '국전약품',
 '디아크',
 '남선알미늄',
 '이랜텍',
 '아세아제지',
 'HLB이노베이션',
 '포스코스틸리온',
 '중앙디앤엠',
 '일신방직',
 '오킨스전자',
 '신성통상',
 '한농화성',
 '수산인더스트리',
 '와이아이케이',
 '코윈테크',
 'SNT다이내믹스',
 'HJ중공업',
 'HLB바이오스텝',
 '광동제약',
 '씨에스베어링',
 '유비케어',
 '신성델타테크',
 '라온텍',
 '솔트룩스',
 'AP시스템',
 '싸이토젠',
 '해성산업',
 'CMG제약',
 '티앤알바이오팹',
 '환인제약',
 '가온칩스',
 'DL건설',
 '케이티알파',
 '한국쉘석유',
 '파세코',
 '에스에이엠티',
 '상신이디피',
 '한진',
 '이엔에프테크놀로지',
 '서희건설',
 '엠케이전자',
 '미래컴퍼니',
 '미래반도체',
 'STX엔진',
 '모토닉',
 '휴메딕스',
 '쿠콘',
 '올릭스',
 '경방',
 '동일금속',
 '한국철강',
 '아모그린텍',
 '락앤락',
 '비즈니스온',
 '지노믹트리',
 '바디텍메드',
 '삼양패키징',
 '백광산업',
 'SM C&C',
 '엘오티베큠',
 '다날',
 '미코',
 '컴투스홀딩스',
 '도화엔지니어링',
 '현대차증권',
 '삼익THK',
 'BYC',
 '하이록코리아',
 '제우스',
 '일진다이아',
 '미래에셋벤처투자',
 '태경산업',
 '대한제당',
 '코아스템켐온',
 '대한방직',
 '아바코',
 '자이에스앤디',
 '코오롱글로벌',
 '에스비비테크',
 '제일약품',
 '유니온머티리얼',
 '유니테스트',
 '유바이오로직스',
 '조이시티',
 '에이프로젠바이오로직스',
 '태웅',
 '지놈앤컴퍼니',
 '일진전기',
 '인트론바이오',
 '한국콜마홀딩스',
 '앱클론',
 '유니퀘스트',
 '케이아이엔엑스',
 '하이딥',
 '원익홀딩스',
 '상상인',
 '프로텍',
 '삼기이브이',
 '네패스아크',
 '키다리스튜디오',
 '에이피티씨',
 '덱스터',
 '하이비젼시스템',
 '롯데하이마트',
 '제룡전기',
 '대상홀딩스',
 '케이씨',
 '한솔제지',
 '한국비엔씨',
 '한양이엔지',
 '디이엔티',
 '제이브이엠',
 '프레스티지바이오로직스',
 '하나제약',
 '그린케미칼',
 '신세계 I&C',
 '광주신세계',
 '모다이노칩',
 'SNT홀딩스',
 '현대비앤지스틸',
 '아주IB투자',
 '만호제강',
 '현대지에프홀딩스',
 '유진기업',
 '진성티이씨',
 '시너지이노베이션',
 '종근당홀딩스',
 '양지사',
 'AP위성',
 '테이팩스',
 'YTN',
 '사조대림',
 'AK홀딩스',
 '코오롱',
 '스틱인베스트먼트',
 '테크윙',
 '덕산하이메탈',
 'GS글로벌',
 '티에스아이',
 '나무가',
 '코오롱모빌리티그룹',
 '우리벤처파트너스',
 '대동',
 '레몬',
 '한전산업',
 '서울옥션',
 '동양',
 '유진투자증권',
 'STX',
 '감성코퍼레이션',
 '동국S&C',
 '티움바이오',
 '엠에스오토텍',
 '유비쿼스홀딩스',
 '에이프릴바이오',
 '휴온스글로벌',
 '대원강업',
 '사람인',
 '엔젯',
 '나이스정보통신',
 '켐트로스',
 '텔레칩스',
 '삼영무역',
 '아주스틸',
 '보광산업',
 '범한퓨얼셀',
 '고바이오랩',
 '셀리버리',
 '에이디테크놀로지',
 '에코플라스틱',
 '샘씨엔에스',
 '케이알엠',
 '나스미디어',
 'HLB글로벌',
 '와이엠텍',
 '압타바이오',
 '이베스트투자증권',
 '성신양회',
 '아모텍',
 '코나아이',
 'JW홀딩스',
 '인텍플러스',
 '네오위즈홀딩스',
 '대한제분',
 '자이글',
 '아이디스',
 '티케이케미칼',
 '유일로보틱스',
 '동화약품',
 '현대코퍼레이션',
 '메디포스트',
 '경동인베스트',
 'KG모빌리언스',
 '한솔아이원스',
 '아바텍',
 'NPC',
 'HB솔루션',
 'KX',
 '대교',
 '그래디언트',
 '우리기술',
 'GRT',
 '유일에너테크',
 '대성에너지',
 '금양그린파워',
 '풍원정밀',
 '씨티씨바이오',
 '미원홀딩스',
 '금호건설',
 '티로보틱스',
 '에이블씨엔씨',
 '포인트모바일',
 '동성케미컬',
 '일진홀딩스',
 '경동제약',
 '에이프로',
 '랩지노믹스',
 '무림P&P',
 '갤럭시아머니트리',
 '알체라',
 '글로벌텍스프리',
 '유진로봇',
 '유니셈',
 '엔피',
 'KPX케미칼',
 '바이오다인',
 '인터플렉스',
 '아이씨디',
 '골프존뉴딘홀딩스',
 '시노펙스',
 '쇼박스',
 '지니뮤직',
 '디앤씨미디어',
 '펌텍코리아',
 'KPX홀딩스',
 'SAMG엔터',
 '알에프세미',
 '교촌에프앤비',
 '한국알콜',
 '넥센',
 '화승인더',
 '덕양산업',
 '인트로메딕',
 '석경에이티',
 '이수앱지스',
 '피엔에이치테크',
 'JTC',
 '한국파마',
 '크리스탈지노믹스',
 '와이투솔루션',
 '삼성출판사',
 'GST',
 '한일사료',
 '다올투자증권',
 '맥스트',
 '자람테크놀로지',
 '대아티아이',
 'APS',
 '삼목에스폼',
 'AJ네트웍스',
 '한국캐피탈',
 '한국정보인증',
 '한솔테크닉스',
 '마크로젠',
 '크레버스',
 '대덕',
 '디아이씨',
 '뉴파워프라즈마',
 '세토피아',
 '이월드',
 '하이트진로홀딩스',
 '멀티캠퍼스',
 '사조산업',
 'HDC랩스',
 '디앤디플랫폼리츠',
 '코아시아',
 '크리스에프앤씨',
 '대창단조',
 '선광',
 '비보존 제약',
 '아나패스',
 '팜스토리',
 '흥국화재',
 '한독',
 '삼부토건',
 '세종메디칼',
 'LS전선아시아',
 '이지홀딩스',
 '필옵틱스',
 '이노와이어리스',
 '알서포트',
 '휴비츠',
 '부국증권',
 '광무',
 '브이티지엠피',
 '에스바이오메딕스',
 '피에이치씨',
 '일진파워',
 '켄코아에어로스페이스',
 '파워로직스',
 'DXVX',
 '스튜디오미르',
 '셀루메드',
 '좋은사람들',
 '칩스앤미디어',
 '비씨엔씨',
 '퍼스텍',
 '레이언스',
 'EG',
 '삼영전자',
 '퓨런티어',
 '와이지-원',
 '뷰노',
 '에이스토리',
 '에브리봇',
 '케이피에스',
 '영풍정밀',
 'NI스틸',
 '오리콤',
 '리드코프',
 '경농',
 '지투파워',
 '비츠로테크',
 '엠투엔',
 '예스코홀딩스',
 '경인양행',
 '이구산업',
 '와이엠티',
 '서연',
 '초록뱀미디어',
 '이크레더블',
 '대원미디어',
 '이트론',
 '아이텍',
 '위지윅스튜디오',
 '태경비케이',
 '슈피겐코리아',
 '샌즈랩',
 '유니슨',
 '미스터블루',
 '삼성제약',
 '디아이',
 '선진',
 '덕우전자',
 '한신기계',
 '삼화전기',
 '모베이스전자',
 '에이스테크',
 '신한서부티엔디리츠',
 '비덴트',
 '슈프리마아이디',
 '피에스케이홀딩스',
 '태림포장',
 '카페24',
 '유틸렉스',
 '웹케시',
 'JW생명과학',
 '공구우먼',
 'CJ 바이오사이언스',
 '디엔에프',
 '보성파워텍',
 '퓨쳐켐',
 '제일파마홀딩스',
 '세종공업',
 '세경하이테크',
 '비에이치아이',
 '티엘비',
 'MDS테크',
 '애니플러스',
 '드림어스컴퍼니',
 '백산',
 'HB테크놀러지',
 '청담글로벌',
 '현대바이오랜드',
 '한스바이오메드',
 '안트로젠',
 'KSS해운',
 '에스티아이',
 '태웅로직스',
 '한세예스24홀딩스',
 '실리콘투',
 '미투젠',
 '와이솔',
 '부방',
 '대화제약',
 '대성산업',
 'LS네트웍스',
 '위닉스',
 '삼화페인트',
 '삼영',
 '도이치모터스',
 '디지털대성',
 '인크로스',
 '토비스',
 '코람코더원리츠',
 '예스티',
 'NEW',
 '한국전자금융',
 '진양홀딩스',
 'LB루셈',
 '율호',
 '아모센스',
 '금화피에스시',
 '진흥기업',
 '넥스트칩',
 '우진',
 'KT서브마린',
 '소니드',
 '브릿지바이오테라퓨틱스',
 'SBI인베스트먼트',
 '유수홀딩스',
 '피에이치에이',
 '홈센타홀딩스',
 '동아지질',
 '엠투아이',
 '한국내화',
 '지아이텍',
 '경보제약',
 '어보브반도체',
 '윈스',
 '동구바이오제약',
 '티사이언티픽',
 '아이패밀리에스씨',
 '신스틸',
 '노루페인트',
 '헥토파이낸셜',
 '마음AI',
 '오이솔루션',
 '제노코',
 ...]

In [32]:
print(type(stock_name_list), len(stock_name_list))

<class 'list'> 2339

In [25]:
stock_list = pd.read_csv('./data/stock_list.txt', sep='\t')
stock_list

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,5930,KR7005930003,삼성전자,KOSPI,NaN,65100,2,-300,-0.46,65600,65700,64700,9791064,637046767248,388632844005000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,NaN,564000,2,-3000,-0.53,563000,571000,560000,244181,137592002000,131976000000000,234000000,STK
2,660,KR7000660001,SK하이닉스,KOSPI,NaN,88700,2,-1100,-1.22,88900,89600,87500,1794303,158558052768,64573809775500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,NaN,797000,1,22000,2.84,771000,799000,771000,144462,114475902000,56725678000000,71174000,STK
4,51910,KR7051910008,LG화학,KOSPI,NaN,731000,1,5000,0.69,727000,735000,724000,149664,109184505000,51603002733000,70592343,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,174880,KR7174880005,장원테크,KOSDAQ,관리종목(소속부없음),530,0,0,0.00,0,0,0,0,0,11610352250,21906325,KSQ
2334,58220,KR7058220005,아리온,KOSDAQ,투자주의환기종목(소속부없음),275,0,0,0.00,0,0,0,0,0,10717917100,38974244,KSQ
2335,121890,KR7121890008,에스디시스템,KOSDAQ,관리종목(소속부없음),739,0,0,0.00,0,0,0,0,0,9375042680,12686120,KSQ
2336,78650,KR7078650009,지나인제약,KOSDAQ,관리종목(소속부없음),2120,0,0,0.00,0,0,0,0,0,8647007240,4078777,KSQ
2337,50540,KR7050540004,엠피씨플러스,KOSDAQ,투자주의환기종목(소속부없음),359,2,-175,-32.77,498,498,350,3296607,1289977939,2322043233,6468087,KSQ

In [6]:
stock_list.loc[stock_list['Name']=='삼성전자', ['Code', 'Name']]

   Code  Name
0  5930  삼성전자

In [90]:
my_api = '0677e972c3f3f8c80475547fcddaf9a48c0d570f'

dart = OpenDartReader(my_api)

In [10]:
samsung = dart.report('삼성전자', '배당', 2022, '11011')
samsung

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20230307000542,Y,00126380,삼성전자,주당액면가액(원),100,100,100,NaN
1,20230307000542,Y,00126380,삼성전자,(연결)당기순이익(백만원),"54,730,018","39,243,791","26,090,846",NaN
2,20230307000542,Y,00126380,삼성전자,(별도)당기순이익(백만원),"25,418,778","30,970,954","15,615,018",NaN
3,20230307000542,Y,00126380,삼성전자,(연결)주당순이익(원),"8,057","5,777","3,841",NaN
4,20230307000542,Y,00126380,삼성전자,현금배당금총액(백만원),"9,809,438","9,809,438","20,338,075",NaN
5,20230307000542,Y,00126380,삼성전자,주식배당금총액(백만원),-,-,-,NaN
6,20230307000542,Y,00126380,삼성전자,(연결)현금배당성향(%),17.90,25.00,78.00,NaN
7,20230307000542,Y,00126380,삼성전자,현금배당수익률(%),2.50,1.80,4.00,보통주
8,20230307000542,Y,00126380,삼성전자,현금배당수익률(%),2.70,2.00,4.20,우선주
9,20230307000542,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,보통주
10,20230307000542,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,우선주
11,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,444","1,444","2,994",보통주
12,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,445","1,445","2,995",우선주
13,20230307000542,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,보통주
14,20230307000542,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,우선주

In [11]:
samsung['se'].values

array(['주당액면가액(원)', '(연결)당기순이익(백만원)', '(별도)당기순이익(백만원)', '(연결)주당순이익(원)',
       '현금배당금총액(백만원)', '주식배당금총액(백만원)', '(연결)현금배당성향(%)', '현금배당수익률(%)',
       '현금배당수익률(%)', '주식배당수익률(%)', '주식배당수익률(%)', '주당 현금배당금(원)',
       '주당 현금배당금(원)', '주당 주식배당(주)', '주당 주식배당(주)'], dtype=object)

In [12]:
# ['(연결)당기순이익(백만원)','(연결)주당순이익(원)','주당 현금배당금(원)']
se = samsung.loc[samsung['se'].isin(['(연결)당기순이익(백만원)','(연결)주당순이익(원)','주당 현금배당금(원)'])]
se

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
1,20230307000542,Y,00126380,삼성전자,(연결)당기순이익(백만원),"54,730,018","39,243,791","26,090,846",NaN
3,20230307000542,Y,00126380,삼성전자,(연결)주당순이익(원),"8,057","5,777","3,841",NaN
11,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,444","1,444","2,994",보통주
12,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,445","1,445","2,995",우선주

In [20]:
EPS = samsung.loc[samsung['se'].str.contains('주당순이익'), ['thstrm', 'frmtrm', 'lwfr']]
EPS

  thstrm frmtrm   lwfr
3  8,057  5,777  3,841

In [28]:
dividends = samsung.loc[samsung['se'] == '주당 현금배당금(원)', ['thstrm', 'frmtrm', 'lwfr', 'stock_knd']].iloc[0]
int(dividends['thstrm'].replace('-', '0').replace(',',''))

1444

In [7]:
stock_list = pd.read_csv('./data/stock_list.txt', sep='\t')

In [8]:
stock_list[['Name']].values

array([['삼성전자'],
       ['LG에너지솔루션'],
       ['SK하이닉스'],
       ...,
       ['에스디시스템'],
       ['지나인제약'],
       ['엠피씨플러스']], dtype=object)

In [69]:
a = pd.read_csv('./data/dividends.csv')
b = pd.read_csv('./data/EPS.csv')

In [71]:
a.loc[a['stock_name'] == 'LG에너지솔루션']
# b.loc[b['stock_name']== 'LG에너지솔루션']

    stock_name  2014  2015  2016  2017  2018  2019  2020  2021  2022
142   LG에너지솔루션   NaN   NaN   NaN   NaN   NaN   NaN   0.0   0.0   0.0

In [72]:
b.loc[b['stock_name']== 'LG에너지솔루션']

    stock_name  2014  2015  2016  2017  2018  2019    2020    2021    2022
142   LG에너지솔루션   NaN   NaN   NaN   NaN   NaN   NaN -2278.0  3963.0  3306.0

In [32]:
_report = dart.report('LG에너지솔루션', '배당', 2022, '11011')
_report

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20230315001342,Y,01515323,LG에너지솔루션,주당액면가액(원),500,500,500,NaN
1,20230315001342,Y,01515323,LG에너지솔루션,(연결)당기순이익(백만원),"767,236","792,519","-455,515",NaN
2,20230315001342,Y,01515323,LG에너지솔루션,(별도)당기순이익(백만원),"-528,127","-102,962","-377,980",NaN
3,20230315001342,Y,01515323,LG에너지솔루션,(연결)주당순이익(원),"3,306","3,963","-2,278",NaN
4,20230315001342,Y,01515323,LG에너지솔루션,현금배당금총액(백만원),-,-,-,NaN
5,20230315001342,Y,01515323,LG에너지솔루션,주식배당금총액(백만원),-,-,-,NaN
6,20230315001342,Y,01515323,LG에너지솔루션,(연결)현금배당성향(%),-,-,-,NaN
7,20230315001342,Y,01515323,LG에너지솔루션,현금배당수익률(%),-,-,-,보통주
8,20230315001342,Y,01515323,LG에너지솔루션,현금배당수익률(%),-,-,-,NaN
9,20230315001342,Y,01515323,LG에너지솔루션,주식배당수익률(%),-,-,-,보통주
10,20230315001342,Y,01515323,LG에너지솔루션,주식배당수익률(%),-,-,-,NaN
11,20230315001342,Y,01515323,LG에너지솔루션,주당 현금배당금(원),-,-,-,보통주
12,20230315001342,Y,01515323,LG에너지솔루션,주당 현금배당금(원),-,-,-,NaN
13,20230315001342,Y,01515323,LG에너지솔루션,주당 주식배당(주),-,-,-,보통주
14,20230315001342,Y,01515323,LG에너지솔루션,주당 주식배당(주),-,-,-,NaN

In [15]:
a = '-10'
if abs(a) == -a:
    new_a = -int(a.apply())
int(a)
type(a)

str

In [16]:
b = -10
type(b)

int

In [17]:
c = -0
print(c)

0

In [44]:
def str_to_int(value):
    if type(value) == int:
        return value
    elif value.startswith('-'):
        return -int(value.replace('-','0').replace(',',''))
    else:
        return int(value.replace('-','0').replace(',',''))

In [58]:
EPS_temp = _report.loc[_report["se"].str.contains("주당순이익")].iloc[0]
EPS_row = EPS_temp[['thstrm', 'frmtrm', 'lwfr']]
EPS_row

thstrm     3,306
frmtrm     3,963
lwfr      -2,278
Name: 3, dtype: object

In [59]:
EPS_row = EPS_temp[['thstrm', 'frmtrm', 'lwfr']].apply(str_to_int)

In [64]:
# EPS_row = EPS_row.apply(str_to_int)
# b = EPS_row[1].apply(str_to_int)
# c = EPS_row[2].apply(str_to_int)
EPS_row[1]

3963

In [51]:
a

thstrm    3306
frmtrm    3963
lwfr     -2278
Name: 3, dtype: int64

In [88]:
_report_copy = _report['lwfr'].apply(str_to_int)
a = _report_copy
type(a)
a
# _report['thstrm'].apply(str_to_float)

0        500
1    -455515
2    -377980
3      -2278
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
Name: lwfr, dtype: int64

In [92]:
a = pd.read_csv('./data/dividends.csv')
b = pd.read_csv('./data/EPS.csv')

In [93]:
print(a.loc[a['stock_name'] == 'KB금융'])
print(b.loc[b['stock_name'] == 'KB금융'])

   stock_name   2014   2015    2016    2017    2018    2019    2020    2021
99       KB금융  780.0  980.0  1250.0  1920.0  1920.0  2210.0  1770.0  2940.0  \

      2022
99  2950.0
   stock_name    2014    2015    2016    2017    2018    2019    2020
99       KB금융  3626.0  4396.0  5588.0  8305.0  7721.0  8451.0  8809.0  \

       2021     2022
99  11134.0  10955.0

In [94]:
_report = dart.report('KB금융', '배당', 2022, '11011')
_report

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20230324001073,Y,00688996,KB금융,주당액면가액(원),"5,000","5,000","5,000",NaN
1,20230324001073,Y,00688996,KB금융,(연결)당기순이익(백만원),"4,394,828","4,409,543","3,455,151",NaN
2,20230324001073,Y,00688996,KB금융,(별도)당기순이익(백만원),"1,684,512","1,438,866","1,379,415",NaN
3,20230324001073,Y,00688996,KB금융,(연결)주당순이익(원),"10,955","11,134","8,809",NaN
4,20230324001073,Y,00688996,KB금융,현금배당금총액(백만원),"1,149,421","1,145,525","689,653",NaN
5,20230324001073,Y,00688996,KB금융,주식배당금총액(백만원),-,-,-,NaN
6,20230324001073,Y,00688996,KB금융,(연결)현금배당성향(%),26.00,26.00,20.00,NaN
7,20230324001073,Y,00688996,KB금융,현금배당수익률(%),5.80,5.20,3.90,보통주
8,20230324001073,Y,00688996,KB금융,현금배당수익률(%),-,-,-,NaN
9,20230324001073,Y,00688996,KB금융,주식배당수익률(%),-,-,-,NaN
10,20230324001073,Y,00688996,KB금융,주식배당수익률(%),-,-,-,NaN
11,20230324001073,Y,00688996,KB금융,주당 현금배당금(원),"2,950","2,940","1,770",보통주
12,20230324001073,Y,00688996,KB금융,주당 현금배당금(원),-,-,-,NaN
13,20230324001073,Y,00688996,KB금융,주당 주식배당(주),-,-,-,NaN
14,20230324001073,Y,00688996,KB금융,주당 주식배당(주),-,-,-,NaN

In [99]:
driver = webdriver.Chrome(service=service, options=options)
url = 'https://www.paxnet.co.kr/stock/report/report?menuCode=3333&currentPageNo=1&reportId=140703&searchKey=category&searchValue='
driver.get(url)
time.sleep(3)

div = driver.find_element(By.CLASS_NAME, 'board-type')

In [106]:
li_list = div.find_elements(By.TAG_NAME, 'li')

li_list
for li in li_list:
    print(li.text)

업종 제목 애널리스트 제공출처 작성일
자동차
현대차·기아, 지난달 미국 판매 14만4874대... 전년 대비 15% 증가
김준성 메리츠증권 2023.05.04
음식료
(곡물) 흑해 항구 통한 우크라이나 곡물 수출 협정 연장 논의 5.3 재개
김정욱 메리츠증권 2023.05.04
운송
GTT, "메탄올은 고약한 연료"
배기연 메리츠증권 2023.05.04
금융
저신용자일수록 가산금리 더 올랐다
조아해 메리츠증권 2023.05.04
제약
셀트리온 천식치료제 ‘CT-P39’ 유럽 품목허가 신청
이선경 IBK투자증권 2023.05.03
자동차
현대차 美공장에 5G특화망 깐다...현대오토에버에 주파수 할당
김준성 메리츠증권 2023.05.03
음식료
(CJ프레시웨이) 식자재 납품하는 전국 외식 가맹 점포 수 전년 동기 대비 27%가량 증가
김정욱 메리츠증권 2023.05.03
운송
HD한국조선해양, 사흘간 가스선 12척 수주
배기연 메리츠증권 2023.05.03
금융
5대은행 기업대출, 한달새 5조 껑충... 가계대출은 감소세
조아해 메리츠증권 2023.05.03
운송
공정위, 한화·대우조선 결합 조건부 승인
배기연 메리츠증권 2023.04.28
금융
이자상환 유예 끝나는 9월 위기 온다... 은행권, 중기.소호 대출 연체율 관리 강화
조아해 메리츠증권 2023.04.28
자동차
현대차, 러시아 전면 철수‥공장 매각 마무리 단계
김준성 메리츠증권 2023.04.27
음식료
(곡물) 러시아, 곡물 협정 연장 위해선 러시아산 곡물·비료 수출 장애물 선행되어야
김정욱 메리츠증권 2023.04.27
운송
미, JP모건에 러시아 곡물 수출대금 결제 허가
배기연 메리츠증권 2023.04.27
금융
기준금리보다 낮은 예금금리에 '금리노마드' 떠난다... 잔액 두달째 마이너스
조아해 메리츠증권 2023.04.27
인터넷포탈
폼 미쳤다, 플랫폼
오린아 이베스트투자증권 2023.04.26
통신
1Q23 Preview: 단기 실적보다 중요한 중장기 플랜
정지수 메리츠증권 2023.04.26
자동차
현대차, 1분기 영업이익 3조5927억원... 상장사 첫 1위
김준성 메리츠증권 2023.04.26
음식료
(곡물) 유엔 사무총장, 푸틴 러시아 대통령에게 직접 서한 보내 곡물 협정 연장 촉구
김정욱 메리츠증권 2023.04.26
금융
은행권 3%대 주담대 늘어났다
조아해 메리츠증권 2023.04.26
자동차
현대차-SK온 美합작공장 공식화' 촉각...尹동행 4대그룹 총수, 美시장 점검
김준성, 장재혁 메리츠증권 2023.04.25
음식료
(곡물) 서방국가 대러시아 수출 금지 검토에 대해 러시아 흑해 곡물협정 종료 카드로 대응
김정욱, 이성우 메리츠증권 2023.04.25
운송
러시아, 5월 18일에 만료되는 흑해곡물협정을 종료하겠다고 경고
배기연, 오정하 메리츠증권 2023.04.25
금융
'역대급 수익' 은행들, 대출 목표이익률 올려
조아해 메리츠증권 2023.04.25
통신
정부, 최적 요금제 의무화 검토
최남곤 메리츠증권 2023.04.24
자동차
자동차 무역흑자 1분기에만 130억달러, 사상 최대
김준성 메리츠증권 2023.04.24
음식료
(곡물) 우크라이나 곡물 가격 불안 및 생산비 증가로 올해 수확량 반 토막 날 것이란 전망
김정욱 메리츠증권 2023.04.24
운송
밀양 한국카본 화재... 피해액 150억원 추산
배기연 메리츠증권 2023.04.24
금융
5대은행, 1분기 충당금 확 늘린다...당국 요청에, OK
조아해 메리츠증권 2023.04.24
전기전자
4 월 하반월 LCD 패널가
김선우 메리츠증권 2023.04.21
1
2
3
4
5

In [121]:
driver = webdriver.Chrome(service=service, options=options)
cnt = 0

for page_no in range(1, 357):
    cnt += 1
    url = f'https://www.paxnet.co.kr/stock/report/report?menuCode=3333&currentPageNo={page_no}&reportId=140703&searchKey=category&searchValue='
    driver.get(url)
    time.sleep(3)
    print(f'{cnt}페이지 로드 완료, {cnt}페이지 크롤링 시작')

    data = []
    if page_no != 356:
        for n in range(2, 32):
            record = []

            temp = driver.find_element(By.CSS_SELECTOR, f'#contents > div.cont-area > div.board-type > ul > li:nth-child({n})')
            temp_list = temp.text.split('\n')
            record += [temp_list[0], temp_list[1]]
            temp_info = temp_list[2].split(' ')
            record += temp_info
            data.append(record)
    else:
        for n in range(2, 29):
            record = []

            temp = driver.find_element(By.CSS_SELECTOR, f'#contents > div.cont-area > div.board-type > ul > li:nth-child({n})')
            temp_list = temp.text.split('\n')
            record += [temp_list[0], temp_list[1]]
            temp_info = temp_list[2].split(' ')
            record += temp_info
            data.append(record)

driver.quit()

cols = ['업종', '제목', '애널리스트', '증권사', '작성일']
df = pd.DataFrame(data, columns=cols)

print('데이터프레임 생성 완료!!!')

df.to_csv("./data/report.csv", encoding='utf-8', index=False)

print('데이터프레임 저장 완료!!!')

#contents > div.cont-area > div.board-type > ul > li:nth-child(2)
#contents > div.cont-area > div.board-type > ul > li:nth-child(16)
#contents > div.cont-area > div.board-type > ul > li:nth-child(17)
#contents > div.cont-area > div.board-type > ul > li:nth-child(31)
#contents > div.cont-area > div.board-type > ul > li:nth-child(2)
#contents > div.cont-area > div.board-type > ul > li:nth-child(31)
#contents > div.cont-area > div.board-type > ul > li:nth-child(2)
#contents > div.cont-area > div.board-type > ul > li:nth-child(28)

[['자동차', '현대차·기아, 지난달 미국 판매 14만4874대... 전년 대비 15% 증가', '김준성', '메리츠증권', '2023.05.04'], ['음식료', '(곡물) 흑해 항구 통한 우크라이나 곡물 수출 협정 연장 논의 5.3 재개', '김정욱', '메리츠증권', '2023.05.04'], ['운송', 'GTT, "메탄올은 고약한 연료"', '배기연', '메리츠증권', '2023.05.04'], ['금융', '저신용자일수록 가산금리 더 올랐다', '조아해', '메리츠증권', '2023.05.04'], ['제약', '셀트리온 천식치료제 ‘CT-P39’ 유럽 품목허가 신청', '이선경', 'IBK투자증권', '2023.05.03'], ['자동차', '현대차 美공장에 5G특화망 깐다...현대오토에버에 주파수 할당', '김준성', '메리츠증권', '2023.05.03'], ['음식료', '(CJ프레시웨이) 식자재 납품하는 전국 외식 가맹 점포 수 전년 동기 대비 27%가량 증가', '김정욱', '메리츠증권', '2023.05.03'], ['운송', 'HD한국조선해양, 사흘간 가스선 12척 수주', '배기연', '메리츠증권', '2023.05.03'], ['금융', '5대은행 기업대출, 한달새 5조 껑충... 가계대출은 감소세', '조아해', '메리츠증권', '2023.05.03'], ['운송', '공정위, 한화·대우조선 결합 조건부 승인', '배기연', '메리츠증권', '2023.04.28'], ['금융', '이자상환 유예 끝나는 9월 위기 온다... 은행권, 중기.소호 대출 연체율 관리 강화', '조아해', '메리츠증권', '2023.04.28'], ['자동차', '현대차, 러시아 전면 철수‥공장 매각 마무리 단계', '김준성', '메리츠증권', '2023.04.27'], ['음식료', '(곡물) 러시아, 곡물 협정 연장 위해선 러시아산 곡물·비료 수출 장애물 선행되어야', '김정욱', '메리츠증권', '2023.04.27'], ['운송', '미, JP모건에 러시아 곡물 수출대금 결제 허가', '배기연', '메리츠증권', '2023.04.27'], ['금융', "기준금리보다 낮은 예금금리에 '금리노마드' 떠난다... 잔액 두달째 마이너스", '조아해', '메리츠증권', '2023.04.27'], ['인터넷포탈', '폼 미쳤다, 플랫폼', '오린아', '이베스트투자증권', '2023.04.26'], ['통신', '1Q23 Preview: 단기 실적보다 중요한 중장기 플랜', '정지수', '메리츠증권', '2023.04.26'], ['자동차', '현대차, 1분기 영업이익 3조5927억원... 상장사 첫 1위', '김준성', '메리츠증권', '2023.04.26'], ['음식료', '(곡물) 유엔 사무총장, 푸틴 러시아 대통령에게 직접 서한 보내 곡물 협정 연장 촉구', '김정욱', '메리츠증권', '2023.04.26'], ['금융', '은행권 3%대 주담대 늘어났다', '조아해', '메리츠증권', '2023.04.26'], ['자동차', "현대차-SK온 美합작공장 공식화' 촉각...尹동행 4대그룹 총수, 美시장 점검", '김준성,', '장재혁', '메리츠증권', '2023.04.25'], ['음식료', '(곡물) 서방국가 대러시아 수출 금지 검토에 대해 러시아 흑해 곡물협정 종료 카드로 대응', '김정욱,', '이성우', '메리츠증권', '2023.04.25'], ['운송', '러시아, 5월 18일에 만료되는 흑해곡물협정을 종료하겠다고 경고', '배기연,', '오정하', '메리츠증권', '2023.04.25'], ['금융', "'역대급 수익' 은행들, 대출 목표이익률 올려", '조아해', '메리츠증권', '2023.04.25'], ['통신', '정부, 최적 요금제 의무화 검토', '최남곤', '메리츠증권', '2023.04.24'], ['자동차', '자동차 무역흑자 1분기에만 130억달러, 사상 최대', '김준성', '메리츠증권', '2023.04.24'], ['음식료', '(곡물) 우크라이나 곡물 가격 불안 및 생산비 증가로 올해 수확량 반 토막 날 것이란 전망', '김정욱', '메리츠증권', '2023.04.24'], ['운송', '밀양 한국카본 화재... 피해액 150억원 추산', '배기연', '메리츠증권', '2023.04.24'], ['금융', '5대은행, 1분기 충당금 확 늘린다...당국 요청에, OK', '조아해', '메리츠증권', '2023.04.24'], ['전기전자', '4 월 하반월 LCD 패널가', '김선우', '메리츠증권', '2023.04.21']]

In [120]:
record = []
temp_list = temp.text.split('\n')
record += [temp_list[0], temp_list[1]]
temp_info = temp_list[2].split(' ')
record += temp_info
print(record)

['금융', "기준금리보다 낮은 예금금리에 '금리노마드' 떠난다... 잔액 두달째 마이너스", '조아해', '메리츠증권', '2023.04.27']

In [117]:
line3s = driver.find_elements(By.CLASS_NAME, 'line3')
for line3 in line3s:
    print(line3.text)

김준성
메리츠증권
2023.05.04
김정욱
메리츠증권
2023.05.04
배기연
메리츠증권
2023.05.04
조아해
메리츠증권
2023.05.04
이선경
IBK투자증권
2023.05.03
김준성
메리츠증권
2023.05.03
김정욱
메리츠증권
2023.05.03
배기연
메리츠증권
2023.05.03
조아해
메리츠증권
2023.05.03
배기연
메리츠증권
2023.04.28
조아해
메리츠증권
2023.04.28
김준성
메리츠증권
2023.04.27
김정욱
메리츠증권
2023.04.27
배기연
메리츠증권
2023.04.27
조아해
메리츠증권
2023.04.27
오린아
이베스트투자증권
2023.04.26
정지수
메리츠증권
2023.04.26
김준성
메리츠증권
2023.04.26
김정욱
메리츠증권
2023.04.26
조아해
메리츠증권
2023.04.26
김준성, 장재혁
메리츠증권
2023.04.25
김정욱, 이성우
메리츠증권
2023.04.25
배기연, 오정하
메리츠증권
2023.04.25
조아해
메리츠증권
2023.04.25
최남곤
메리츠증권
2023.04.24
김준성
메리츠증권
2023.04.24
김정욱
메리츠증권
2023.04.24
배기연
메리츠증권
2023.04.24
조아해
메리츠증권
2023.04.24
김선우
메리츠증권
2023.04.21

In [ ]:
#contents > div.cont-area > div.board-type > ul > li:nth-child(31)
#contents > div.cont-area > div.board-type > ul > li:nth-child(28)

In [ ]:

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
import pandas as pd
import numpy as np

# 크롬 드라이버 자동 업데이트
from webdriver_manager.chrome import ChromeDriverManager # webdriver_manager 처음 실행할 때는 다운받느라 조금 시간이 걸릴 수 있음

# 브라우저 꺼짐 방지
options = Options()
options.add_experimental_option('detach', True)

# 불필요한 에러 메시지 없애기
options.add_experimental_option('excludeSwitches', ['enable-logging'])

service = Service(executable_path=ChromeDriverManager().install())

driver = webdriver.Chrome(service=service, options=options)

cnt = 0
data = []

for page_no in range(1, 3):
    cnt += 1
    url = f'https://www.paxnet.co.kr/stock/report/report?menuCode=3333&currentPageNo={page_no}&reportId=140703&searchKey=category&searchValue='
    driver.get(url)
    time.sleep(3)
    print(f'{cnt}페이지 로드 완료, {cnt}페이지 크롤링 시작')

    # if page_no != 356:
    try:
        for n in range(2, 32):
            record = []

            temp = driver.find_element(By.CSS_SELECTOR, f'#contents > div.cont-area > div.board-type > ul > li:nth-child({n})')
            temp_list = temp.text.split('\n')
            record += [temp_list[0], temp_list[1]]
            temp_info = temp_list[2].split(' ')
            record += temp_info
            print(record)
            data.append(record)
            print(data)
    except:
        record = np.nan, np.nan, np.nan, np.nan, np.nan
        data.append(record)
    # else:
    #     for n in range(2, 29):
    #         record = []

    #         temp = driver.find_element(By.CSS_SELECTOR, f'#contents > div.cont-area > div.board-type > ul > li:nth-child({n})')
    #         temp_list = temp.text.split('\n')
    #         record += [temp_list[0], temp_list[1]]
    #         temp_info = temp_list[2].split(' ')
    #         record += temp_info
    #         data.append(record)

driver.quit()

cols = ['업종', '제목', '애널리스트', '증권사', '작성일']
df = pd.DataFrame(data, columns=cols)

print('데이터프레임 생성 완료!!!')
print(df.shape)

df.to_csv("./data/report.csv", encoding='utf-8', index=False)

print('데이터프레임 저장 완료!!!')

In [133]:

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
import pandas as pd
import numpy as np

# 크롬 드라이버 자동 업데이트
from webdriver_manager.chrome import ChromeDriverManager # webdriver_manager 처음 실행할 때는 다운받느라 조금 시간이 걸릴 수 있음

# 브라우저 꺼짐 방지
options = Options()
options.add_experimental_option('detach', True)

# 불필요한 에러 메시지 없애기
options.add_experimental_option('excludeSwitches', ['enable-logging'])

service = Service(executable_path=ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

data = []

url = 'https://www.paxnet.co.kr/stock/report/report?menuCode=3333&currentPageNo=2&reportId=0&searchKey=category&searchValue='
driver.get(url)
time.sleep(3)

record = []

temp = driver.find_element(By.CSS_SELECTOR, '#contents > div.cont-area > div.board-type > ul > li:nth-child(10)')
temp_list = temp.text.split('\n')
record += [temp_list[0], temp_list[1]]
temp_info = temp_list[2].split(' ')
record += temp_info

driver.quit()

print(record)
data.append(record)
print(data)

['음식료', "(전자담배) '궐련형 전자담배' 판매량 급증에 세금 인상 가능성 언급", '김정욱', '메리츠증권', '2023.04.20']
[['음식료', "(전자담배) '궐련형 전자담배' 판매량 급증에 세금 인상 가능성 언급", '김정욱', '메리츠증권', '2023.04.20']]

In [149]:

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
import pandas as pd

# 크롬 드라이버 자동 업데이트
from webdriver_manager.chrome import ChromeDriverManager # webdriver_manager 처음 실행할 때는 다운받느라 조금 시간이 걸릴 수 있음

# 브라우저 꺼짐 방지
options = Options()
options.add_experimental_option('detach', True)

# 불필요한 에러 메시지 없애기
options.add_experimental_option('excludeSwitches', ['enable-logging'])

service = Service(executable_path=ChromeDriverManager().install())

driver = webdriver.Chrome(service=service, options=options)

cnt = 0

domains = []
titles = []
author = []
firms = []
dates = []
for page_no in range(1, 11):
    cnt += 1
    url = f'https://www.paxnet.co.kr/stock/report/report?menuCode=3333&currentPageNo={page_no}&reportId=140703&searchKey=category&searchValue='
    driver.get(url)
    time.sleep(3)
    print(f'{cnt}페이지 로드 완료, {cnt}페이지 크롤링 시작')

    if page_no != 356:

        for n in range(2, 32):
            temp = driver.find_element(By.CSS_SELECTOR, f'#contents > div.cont-area > div.board-type > ul > li:nth-child({n})')
            temp_list = temp.text.split('\n')
            domains.append(temp_list[0])
            titles.append(temp_list[1])

            # record += [temp_list[0], temp_list[1]]
            temp_infos = temp_list[2].split(' ')
            author.append(temp_infos[0])
            firms.append(temp_infos[1])
            date = pd.to_datetime(temp_infos[-1])
            dates.append(date)
            
    else:
        for n in range(2, 29):
            temp = driver.find_element(By.CSS_SELECTOR, f'#contents > div.cont-area > div.board-type > ul > li:nth-child({n})')
            temp_list = temp.text.split('\n')
            domains.append(temp_list[0])
            titles.append(temp_list[1])

            # record += [temp_list[0], temp_list[1]]
            temp_infos = temp_list[2].split(' ')
            author.append(temp_infos[0])
            firms.append(temp_infos[1])
            date = temp_infos[-1]
            date = pd.to_datetime(date)
            dates.append(date)

driver.quit()

# cols = ['업종', '제목', '애널리스트', '증권사', '작성일']
df = pd.DataFrame()
df['업종'] = domains
df['제목'] = titles
df['작성자'] = author
df['증권사'] = firms
df['작성일'] = dates
# df = pd.DataFrame(data, index=False)

print('데이터프레임 생성 완료!!!')

df.to_csv("./data/report.csv", encoding='utf-8', index=False)

print('데이터프레임 저장 완료!!!')

1페이지 로드 완료, 1페이지 크롤링 시작
2페이지 로드 완료, 2페이지 크롤링 시작
3페이지 로드 완료, 3페이지 크롤링 시작
4페이지 로드 완료, 4페이지 크롤링 시작
5페이지 로드 완료, 5페이지 크롤링 시작
6페이지 로드 완료, 6페이지 크롤링 시작
7페이지 로드 완료, 7페이지 크롤링 시작
8페이지 로드 완료, 8페이지 크롤링 시작
9페이지 로드 완료, 9페이지 크롤링 시작
10페이지 로드 완료, 10페이지 크롤링 시작
데이터프레임 생성 완료!!!
데이터프레임 저장 완료!!!

In [151]:
df = pd.read_csv('./data/report.csv')
display(df.head(10))
df.shape

,업종,제목,작성자,증권사,작성일
0,자동차,"현대차·기아, 지난달 미국 판매 14만4874대... 전년 대비 15% 증가",김준성,메리츠증권,2023-05-04
1,음식료,(곡물) 흑해 항구 통한 우크라이나 곡물 수출 협정 연장 논의 5.3 재개,김정욱,메리츠증권,2023-05-04
2,운송,"GTT, ""메탄올은 고약한 연료""",배기연,메리츠증권,2023-05-04
3,금융,저신용자일수록 가산금리 더 올랐다,조아해,메리츠증권,2023-05-04
4,제약,셀트리온 천식치료제 ‘CT-P39’ 유럽 품목허가 신청,이선경,IBK투자증권,2023-05-03
5,자동차,현대차 美공장에 5G특화망 깐다...현대오토에버에 주파수 할당,김준성,메리츠증권,2023-05-03
6,음식료,(CJ프레시웨이) 식자재 납품하는 전국 외식 가맹 점포 수 전년 동기 대비 27%가...,김정욱,메리츠증권,2023-05-03
7,운송,"HD한국조선해양, 사흘간 가스선 12척 수주",배기연,메리츠증권,2023-05-03
8,금융,"5대은행 기업대출, 한달새 5조 껑충... 가계대출은 감소세",조아해,메리츠증권,2023-05-03
9,운송,"공정위, 한화·대우조선 결합 조건부 승인",배기연,메리츠증권,2023-04-28

(10677, 5)

In [154]:
df.loc[df['업종'] == '금융']

,업종,제목,작성자,증권사,작성일
3,금융,저신용자일수록 가산금리 더 올랐다,조아해,메리츠증권,2023-05-04
8,금융,"5대은행 기업대출, 한달새 5조 껑충... 가계대출은 감소세",조아해,메리츠증권,2023-05-03
10,금융,"이자상환 유예 끝나는 9월 위기 온다... 은행권, 중기.소호 대출 연체율 관리 강화",조아해,메리츠증권,2023-04-28
14,금융,기준금리보다 낮은 예금금리에 '금리노마드' 떠난다... 잔액 두달째 마이너스,조아해,메리츠증권,2023-04-27
19,금융,은행권 3%대 주담대 늘어났다,조아해,메리츠증권,2023-04-26
...,...,...,...,...,...
10214,금융,키움 금융 Daily 새글,김태현,교보증권,2017-02-14
10329,금융,위기와 기회의 교차점,김태현,키움증권,2016-11-23
10370,금융,전주 보험주는 KOSPI대비 1.7%p 상승,김태현,키움증권,2016-10-24
10436,금융,"금융위, 종합금융투자사업자 제도 개선방안 발표",김태현,키움증권,2016-08-03
10563,금융,"미래에셋증권, 본격적 합병 절차 돌입",김태현,키움증권,2016-03-31